<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/assets/css/public/reset.css"/>
	<style type="text/css" media="screen">
		#content{
			width: 800px;
			margin: 50px auto;
			color:#6F5251;
		}
		fieldset {
			margin: 25px; 
		}

		legend {
			width: 100%;
			margin: 10px; 
			border-bottom: 1px solid #ddd;
		}

		form p {
			margin: 10px;
		}
		form label {
			display:block;
		}
		.content{
			margin: 20px;
			max-height: 50px;
			overflow: hidden;
		}
		.small { 
			font-size: 0.9em;
			font-style: italic;
		}
		.timeago{
			color:#3CC;
			font-size: 0.9em;
			display: inline;
		}
		.client{
			display: inline;
			font-size: 0.8em;
			margin-left: 1em;
			color: #000;
		}
		.message{
			margin-top: 0.2em;
		}
		#header, #footer{
			background-color: #217BBE;
			height: 100px;
		}
	</style>
	<script src="/assets/js/public/jquery/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/public/jquery/jquery.populate.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$.getJSON('/service/entries/<?php echo (isset($_GET['id']))?$_GET['id']:0; ?>', null, function (json) {
				$('#update').populate(json);
			});
		});
	</script>
	<title>Form</title>
	
</head>

<body>
	<div id="header">
		<img src="http://www.rhok.org/wordpress/wp-content/themes/rhok/images/logo.png" alt=""/>
	</div>
	<div id="content">
		<fieldset>
			<legend>Update Your Post</legend>
			<p class="small">The message you posted is very important to us.  Please add the information that is missing so we can help get this message out to everone.</p>
			<form id="update" method="post" action="/service/entries/update/<?php echo $_GET['id']; ?>" >
				<input type="hidden" name="id" value="" />
				<input type="hidden" name="client" value="" />
				<p>
					<label for="url">Url</label>
					<input type="text" name="url" value="" />
				</p>
				<p>
					<label for="message">Message:</label>
					<textarea name="message" cols=50 rows=5></textarea>
				</p>
				<p>
					<label for="location">Location:</label>
					<input type="text" name="location" value="" />
				</p>
				<p>
					<label for="lat">Latitude:</label>
					<input type="text" name="lat" value="" />
				</p>
				<p>
					<label for="long">Longitud:</label>
					<input type="text" name="long" value="" />
				</p>
				<p>
					<label for="alt">Altitude</label>
					<input type="text" name="alt" value="" />
				</p>
				<p>
					<label for="tags">Tags</label>
					<input type="text" name="tags" value="" />
				</p>
				<p>
					<label for="address">Address</label>
					<input type="text" name="address" value="" />
				</p>
				<p>
					<input type="submit" name="Submit" />
				</p>
			</form>
		</fieldset>
	</div>
	<div id="footer"></div>
</body>
</html>
